body {
  font-family: Arial;
}

button {
  cursor: pointer;
  transition: opacity 0.15s;
}

button:active{
  opacity: 0.7;
}


.explain-text {
  color: gray;
  font-size: 12px;
  margin: 0;
}

input {
  width: 300px;
  height: 25px;
  border: 2px solid black;
  border-radius: 3px;
  margin: 5px 0 15px 0;
}

.agree-join {
  width: 300px;
  height: 40px;
  margin: 15px 0 0 0;
  color: white;
  background-color: rgb(111, 66, 226);
  border: none;
  border-radius: 20px;
  font-size: 14px;
}

.thumbnails {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.twitter-text {
  color: grey;
  font-size: 18px;
  margin-right: 120px;
  margin-left: 5px;
}

.tweet {
  color: white;
  background-color: rgb(93, 148, 250);
  width: 90px;
  height: 36px;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 18px;
}

.ex7g img,
.ex7g p,
.ex7g button {
  display: inline-block;
  vertical-align: middle;
}
